@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
font-family: Multicolore;
font-weight: bold;
src: url("fonts/multicolore/Multicolore.otf") format("opentype");
}
body,
html {
  background: #eee;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  width: 60%;
  height: 80%;
  clear: both;
  overflow: hidden;
  z-index: -1;
  margin-top: 12%;
  margin-left: 20%;
}


.harry-container{
	position: relative;
}
.harry-container p
{
  color: #333;
  margin: 0;
  padding: 0;
  font-family:'Multicolore', serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 20px;
  font-weight: 300;
  position: relative;
}
.bot-container {
  position: relative;
}
.bot-container p,
.coming-soon p {
  color: #f76;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 20px;
  font-weight: 300;
  position: relative;
}
.coming-soon {
  position: relative;
}
.coming-soon p {
  font-size: 2em;
}
.scar {
	width:10%;
	-ms-transform: rotate(-35deg); /* IE 9 */
    -webkit-transform: rotate(-35deg); /* Chrome, Safari, Opera */
    transform: rotate(-35deg);
}
